.payment-done-container,.App,.scanner-container,.payin-container,.payment-container,.payment-progress-container {
  padding-top: 20px;
  text-align: left;
  margin: auto;
  width: 320px;
  color: #0C0F3D;
  position: relative;
}

.nextbutton{
  width: 100%;
  background-color: #30E4F1;
  border-radius: 100px;
  padding: 10px 32px;
  border: 1px solid #30E4F1;
  color: white;
  font-size: 15px;
  outline: none;
  border: none;
  cursor: pointer;
}

.backbutton{
  width: 100%;
  background-color: #0C0F3D;
  border-radius: 100px;
  padding: 10px 32px;
  border: 1px solid #30E4F1;
  color: white;
  font-size: 15px;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.dropdown-container{
  position: relative;
  border: 1px solid rgb(228, 229, 232);
  border-radius: 4px;
  margin-bottom: 18px;
  cursor: pointer;
}

.dropdown-content{
  display:none;
  position:absolute;
  top: 50px;
  z-index: 1;
  width: 100%;
  background: white;
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid rgb(228, 229, 232);
  border-radius: 4px;
  cursor: pointer;
}
.dropdown-content div{
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-content div:hover{
  background-color: #0C0F3D;
  color: white;
  cursor: pointer;
}


/* ***************************************** */
.error-panel-container{
    border: 2px solid red;
    display: flex;
    justify-content: space-between; 
    padding: 16px 16px;
    border-radius: 5px;
    background-color: rgba(234,66,99,0.25);
}

.error-image {
  width: 28px;
}

.error-message-container{
  display: flex;
  flex-direction: column;
   margin-left: 10px;
}

.error{
  font-size: 12px;
  color: #EA4263;
}

.error-message{
  font-size: 16px;
   color: #EA4263; 
   width: 200px;
}

.error-message-close{
    width: 18px; 
    text-align: right; 
    cursor: pointer;
}

.page-heading{
  font-size: 21px;
  margin-top: 35px;
}
.page-heading~p{
  font-size: 16px;
}

.subheading{
  font-size: 16px; 
  margin-bottom: 15px; 
  color: #0C0F3D;
}

.payout-container{
  margin-bottom: 2;
}

.payout-table{
  width: 100%;
  border-collapse: collapse;
}

.payout-table-heading-row{
  font-size: 19px;
   border-bottom: 1px solid #ddd;
}

.payout-heading{
  padding: 10px 0;
}

.payout-value{
  text-align: right;
}

.payout-table-data-row{
  font-size: 15px
}

.payout-fee-value{
  text-align: right;
  font-weight: 100;
}

.payout-receive-table{
  width: 100%;
    border-collapse: collapse;
}

.payout-receive{
  font-size: 15px;
  border-bottom: 1px solid #ddd;
}

.payout-receive-title{
   padding: 10px 0;
}

.payout-receive-value{
   text-align: right;
}

.payout-quote{
  font-size: 15px;
}

.payout-quote-title{
 padding: 10px 0;
}

.payout-quote-value{
   text-align: right;
   font-weight: 100;
}

.change-payout-currency{
  font-size: 16px;
  margin-bottom: 5px;
  color: #0C0F3D;
  font-weight: 400;
}

.dropdown-container{

}

.dropdown-container-state{
  margin: 7px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.dropdown-box{
  font-size: 14px;
  line-height: 1.5;
}

.dropdown-arrow{
  width: 15px;
  padding-top: 3px;
  padding-left: 5px;
  border-left: 1px solid #cfcfcf;
}

.next-btn{
  margin-bottom: 18px;
}

.retrieve-rates{
  margin-bottom: 18px;
}

.retrieve-rates-text{
   text-align: center;
   font-size: 12px;
   padding: 12px 20px;
   background-color: #EA4263;
   color: white;
}

.email-container{
  margin-bottom: 2px;
}

.email{
  text-align: center;
  font-size: 11px;
  color: #EA4263;
}

.logout{
  text-align: center;
  font-size: 9px;
  color: #999;
}
.etc-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #eeeeee;
  padding: 10px 10px;
  border-radius: 4px;
  font-size: 15px;
}
.etc-wrapper ~div,.pay-time-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0px;
    border-top: 1px solid #ddd;
    margin-block-start: 20px;
    margin-block-end: 20px;
    font-size: 15px;
}
.scanner-container{
  display: flex;
  flex-direction: column;
}
.etc-wrapper ~div span:last-child,.pay-time-wrapper span:last-child{
  font-weight: 100;
  color: #0c0f3dab;
}
.scanner-view{
 margin: auto;
}
.scanner-view~p{
  align-self: center;
  font-size: 16px;
}
.copy-button{
  border-radius: 30px;
  border: 1px solid #cccc;
  padding: 10px;
  position: relative;
  font-size: 12px;
  color: black;
  background-color: #e5e5e5;
  padding: 12px;
  overflow: hidden;
}
.copy-button button{
  height: 100%;
    outline: none;
    background: #76e6f1;
    border: none;
    position: absolute;
    top: 0px;
    right: 0px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
}
.copy-button button img{
  margin: 0px 8px 0px 5px;
}
.pay-time-wrapper~span,.confirmation{
  text-align: center;
  line-height: 21px;
  font-size: 14px;
  color:#a7a7a7;
  display: flex;
}
.payment-of-wrapper,.currency-wrapper{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
}
.payment-of-wrapper p:last-child{
font-weight: 100;
}
.payin-container .dropdown-container{
  border: 1px solid black;
}
.fa{
  padding: 0px 0px 0px 10px;
    border-left: 1px solid #807d7d96;
    font-size: 20px;
}
.payment-of-wrapper p{
  margin-block-end: 0px;
  margin-block-start: 0px;
  font-size: 15px;
}
.currency-wrapper{
  font-size: 19px;
  padding: 15px 0px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 1em;
}
.payin-container .pay-time-wrapper{
border: none;
margin: 0px;
}
.pay-in-heading-wrapper p{
  color: #0C0F3D;
}
.payin-container .next-btn{
margin-top: 20px;
}
.next-btn button:hover{
    background-color: #0ca4af;
    border-color: #0ca4af;
}
.success-quote{
  font-size: 16px;
}
.payout-fee-wrapper{
  display: flex;
  justify-content: space-between;
}
.payout-email-container{
  display: grid;
}
.go-to-wallet-wrapper{
  font-size: 15px;
  width: fit-content;
  margin: 15px auto 30px;
}
.payout-of-wrapper,.payout-equivalent-wrapper{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  align-items: center;
  margin-top: 10px;
}
.payout,.amount{
font-size: 19px;
}
.payout-fee-wrapper span{
  font-size: 16px;
  margin-block-start: 1em;
}
.payout-equivalent-wrapper p{
  font-size: 15px;
}
/* .iframe-wrapped {
  position: relative;
  .loader-content {
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
  }
} */

.great-qoute{
  font-size: 16px;
}
.reference,.total-amount{
    display: flex;
    justify-content: space-between;
    font-size: 19px;
}
.reference{
  border-bottom: 1px solid #e5e5e5;
}
.total-amount :first-child{
  font-weight: 500;
  font-size: 15px;
}
.total-amount :last-child{
  font-size: 15px;
}
.total-payment,.fee,.total-cost{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e4e4e494;
  font-size: 16px;
  font-weight: bold;
}

.total-paid{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e4e4e494;
  font-size: 14px;
}
.fee{
  font-weight: normal;
  border-bottom: 1px solid #ccc;
}
.total-cost{
font-size: 18px;
border: none;
}
.payment-done-container h1{
  font-size: 21px;
}

.wallet-input{
  padding: 0px;
  width: 309px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #e4e5e8;
  color: #0C0F3D;
  padding-left: 10px;
  margin-bottom: 20px;
  font-size: 14px;
}

.wallet-input:focus, .wallet-input:active{
  border: 1px solid #e4e5e8;
}

.nextbutton:disabled{
  background-color: #30e4f13d;
}
.ref {
  font-size: 10px;
  text-align: center;
}